<div fxLayoutAlign="end end" class="addBtn">
  <mat-icon (click)="addRole()">add</mat-icon>
</div>
<div *ngIf="elementData.length">
  <app-dynamictable [column]="columns" [record]="elementData" [actionArray]=" actionArray"
   [displayedColumns]="displayedColumn" (actionEmit)="onEmit($event)">
  </app-dynamictable>
</div>
<ng-template #roletemplate>
<h1 mat-dialog-title class="mat-heading">Add Role</h1>
<mat-dialog-content >
  <form [formGroup]="editform" class="matContent">
   <mat-form-field>
    <mat-label>Role</mat-label>
    <input matInput formControlName="name">
   </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button  [mat-dialog-close]="true" class="mataction">Add</button>
</mat-dialog-actions>
</ng-template>
<ng-template #edittemplate>
  <h1 mat-dialog-title>Edit Role</h1>
  <mat-dialog-content>
    <form [formGroup]="editform">
     <mat-form-field>
      <mat-label>Role</mat-label>
      <input matInput formControlName="name">
     </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Apply</button>
  </mat-dialog-actions>
  </ng-template>