.addBtn{
  border:1px solid rgb(189, 185, 185);
  width:fit-content;
  float:right;
  margin-top:20px;
  color:grey;
  background-color: whitesmoke;
}
.mat-heading{
  background-color: cornflowerblue;
}
.mataction{
  background-color: cornflowerblue;
}
.matContent{
  padding:10px;
  background-color: honeydew;
}
.close-btn{
  margin-left:53px;
}