.addBtn{
  border:1px solid rgb(189, 185, 185);
  width:fit-content;
  float:right;
  margin-top:20px;
  color:grey;
  background-color: whitesmoke;
}
.formContent{
  background-color:honeydew;
  padding:10px;
  margin:10px 0px 0px 0px;
}
.mat-heading{
  background-color: cornflowerblue;
}
.mataction{
  background-color: cornflowerblue;
}
.close-btn{
  margin-left:234px;
  margin-top: 18px;
}
.dialog-head{
  margin-top:10px;
}
.mat-typography{
  margin:16px 0px 0px 0px;
}