.container{
padding:10%;

}
.signInheader{
  padding:20px;
  font-size: 30px;
  font-family:serif;
  font-weight: 800;
}
.userlabel{
  font-family:cursive;
  padding:0px 10px 0px 0px;
  font-size:18px;
  font-weight: 500;
}
.formfield{
  padding:15px 0px 0px 0px;
}
.userContainer{
  background-color: coral;
}
.loginBtn{
  color:grey;
}
.matheader{
  background-color: cornflowerblue;
}
mat-card{
  width:500px;
}
.mattitle{
  text-align:center;
}
.formContainer{
  background-color: honeydew;
  padding:10px;
}